<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name="com.example.mathmastery_beta.MathMastery"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathMastery_beta"
        tools:targetApi="31">
        <activity android:name=".InformationGameActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OperationFoundActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OperandFoundActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ResultFoundActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EqualFoundActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LevelBarActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AchieveActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Укажите схему и хост для Deep Link -->
                <data android:scheme="app"
                    android:host="mathmastery" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kynzai.game2048.game.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
    </application>

</manifest>